html {
	font-family: 'Open Sans', sans-serif;
}
body{
    padding:0;
    margin:0;
}

.container {
    display:flex;
    flex-direction: column;
    /*border:2px solid red;*/
    justify-content: center;
}
.container >*{
    flex:1;
}
/*header styles*/
.header{
    flex:1;
    display :flex;
    height:fit-content;
    justify-content:space-between;
    border: 2px solid blue;
    gap:2rem;
}

.header >*{
    flex-shrink:1;
    margin-block:3px;
}

#menu-btn{
    max-width:30px;
    height:40px;
    border:2px solid rgb(158, 105, 105);
    border-radius:3px;
    margin-left:0.5rem;
}
.header-btn{
    height:40px;
    width:40px;    
}
#logo{
    height:40px;
    max-width:300px;
    flex-grow:1;
}

/*end-header-style*/
.logos{
    max-width:30px;
    max-height:30px;
}

/*header-2*/
.header_2{
    display:flex;
    gap:1rem;
    justify-content: space-around;
    margin-inline:1rem;
}
.header_2 div{
    flex-wrap:nowrap;
    max-width:inherit;
}
.header_2 div a p{
    font-size:80%;
    color:rgb(68, 68, 108);
    white-space:nowrap;
}
/*end-header_2*/
/*hero section*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero {
    background-image:url('./images/Cyber-Tile.jpg');
    background-size:cover;
    background-position:center;
}
.hero .hero_txt{
    display:flex;
    border-radius:5px;
    border:1px solid black;
    background-color:rgb(237, 200, 133);
    margin-bottom:4rem;
    margin-inline:0.5rem;
    border-radius:5px;
    font-size:80%;
    height:40%;

}
.hero .hero_txt p{
    padding-inline:5px;
    align-self: center;
    font-size:1rem;
}

.hero .hero_txt .hero-button{
    font-size:30px;
    font-weight: bold;
    background-color:rgb(253, 253, 205);
    border-right:1px solid white;
}

.hero .hero_txt .hero-button p{
    align-self: center;
    font-size:30px;
    font-weight: bold;
}
.hero h1{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#fff;
    padding-left:2rem;
}
/*end_hero_section*/
.hero{position:relative;
    z-index:1;
}
/*topics-section*/
.topics{
    position:absolute;
    top:55%;
    left:2%;
    right:2%;
    z-index:2;
    height:80%;
    background-color:rgba(0, 0 , 0 ,0);
    padding:1rem;
}
#topics-heading{
    color:white;
}
.topics .topic-info{
    color:rgb(22, 22, 90);
    border-bottom:2px solid yellow;
    background-color:rgb(244, 244, 213);
    padding:1rem;
}
/*end-of-topics*/

/*portfolio*/

/*end-of-portfolio*/

/*info*/
.info-content{
    background-color: aliceblue;
    border-bottom:3px solid rgb(3, 137, 92);
    margin:1rem;
    font-size:100%;
    padding:1rem;
    color:rgb(3, 3, 54);
}
.info-logos{
    display: flex;
    justify-content: space-between;
    font-size:20px;
}
#arrow{
    font-size:30px;
    font-weight:bold;
}
/*end-of-info*/
/*news-section*/
.news{
    display: flex;
    flex-direction: column;
    column-gap:1rem;
    padding:1rem;
 }
.news .news-section{
    padding:5px;
}
.news-section a{
    color:rgb(3, 3, 54);
    text-decoration:none;
    font-size:15px;

}
.news-section .subtitle{
    color: black;
    font-size:18px;
    font-weight:bold;
}
.sub{
    margin-right:1rem;
}
.news-section .subtitle  .news-date{
    font-size:15px;
    color: #a6a6a6;
    font-weight:normal;
}
.news .news-section .read-mores{
    margin-left:75%;
    font-size:80%;
    color:rgb(22, 22, 90);
}
.see-all{
    margin-left:45%;
    color:rgb(22, 22, 90);
    font-size:24px;
    white-space:nowrap;
}

/*end-of-news*/
/*other-sites*/
.other-sites{
    display: flex;
    flex-direction: column;
    padding:1rem;
    background-color: #d2cccc;
}
.other-sites h2{
    color:rgb(3, 3, 54);
    margin-bottom:5px;
}

.other-sites .sites {
    display:flex;
    flex-direction: column;
}
.other-sites .sites a{
    text-decoration:none;
    color:rgb(22, 22, 90);
    font-size:15px;
    margin-block:5px;
}
/*end-other-sites*/

/*Agencies-section*/
.agencies{
    margin:1rem;
}
.agencies .badges{
    display:flex;
    gap:5rem;
    justify-content:center;
    flex-wrap: wrap;
}
.agencies .badges .agencies-imgs{
    flex:1;
    
}
/*end-of-Agencies*/

/*contuct-us*/
.contact{
    margin-inline:1rem;
}
.contact h2{
    color:rgb(22, 22, 90);
}
.contact p{
    color:rgb(22, 22, 90);
    font-size:20px;
}

.contact .btns span{
    display: flex;
    gap:2rem;
}
#contact-us{
    border:1px solid rgb(22, 22, 90);
    border-radius:2px;
    font-size:90%;
    padding-inline:2rem;
    padding-block:2rem;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width:40px;
    height:40px;
    align-self:center;
    text-decoration:none;
    border-radius:50%;
}
.fa:hover{
    opacity:0.7
}
/*faceBook*/
.fa-facebook{
    background:#3B5998;
    color:white;
}
/*Twitter*/
.fa-twitter{
    background: #55acee;
    color:white;
}

/*end-contact-us*/

/*more-section*/
.more{
    background-color: #d2cccc;
    display: flex;
    flex-direction: column;
    column-gap:-1rem;

}

.more .mores{
    margin-inline:1rem;

}
.more .mores h2{
    color:rgb(22, 22, 90);
    margin-bottom:-1%;
}
.more .mores li{
    margin-block:5px;
    margin-left:-2.5rem;
    list-style:none;
    color:rgb(68, 68, 108);

}
/*end-more-section*/
.to-top{
    text-align: center;
}
.to-top a{
    text-decoration:none;
    border-radius:3px;
    background-color:blue;
    color:white;
    font-size:100%;
    padding:5px;
    margin: auto;
}
/*footer-section*/
.footer{
    background-image: url('./images/img_nature_wide.jpg');
    color: #fff;
    height: fit-content;
}
.footer .footer-text{
    margin-top:25%;
    padding-inline:1rem;
    padding-top:0.2rem;
    padding-bottom:10%;
    background-color: aqua;
}

/*end-footer-section*/
/*static*/
.statics{
    display: flex;
    gap:1%;
    justify-content:center;
    position:fixed;
    height:min-content;
    left:50%;
    transform: translate(-50%);
    bottom:0;
    max-width:fit-content;
    padding-bottom: 0;
    margin-bottom:0;
    z-index:2;
  }
  
  .qns{
    display:flex;
    max-width:inherit;
  }
  .qns p{
    font-size:100%;
    background-color: rgb(106, 210, 175);
    padding-top:2px;
    padding-bottom:2px;
    font-weight: bold;
    border-radius:2px;
    padding-inline:3px;
    white-space:nowrap;
    align-self: center;
  }
  .feedback{
    display:flex;
    max-width:inherit;
  }
  .feedback p{
    font-size:100%;
    background-color:#717171;
    padding-top:3px;
    padding-bottom:3px;
    font-weight: bold;
    padding-inline:3px;
    white-space:nowrap;
    align-self: center;
  }
  .feed2{
    background-color: #717171;
    font-size:100%;
  }
  .logo-qns{
    padding-inline:5px;
    background-color: rgb(181, 243, 243);
  }
  #logo-feed{
    padding-block:1%;
    background-color:#a6a6a6;  
  }
  .feed ,.qns{
    flex:1;
    align-items: flex-end;
  }
/*end-statics*/